/* 中间分类模块开始 */
.grid {
	height: 480px;
}

.grid-col1 {
	width: 190px;
	height: 100%;
	background-color: white;
	color: black;
	font-size: 14px;
	position: relative;
}

.grid-col1 a {
	color: #fff;
	font-size: 14px;
	margin: 0 3px;
}

.grid-col1 a:hover {
	color: #f10215;
}

.grid-col1 ul {
	padding: 10px 0;
}

.grid-col1 ul li {
	padding-left: 12px;
	height: 29px;
	line-height: 26px;

}

.grid-col1 ul li:hover {
	background-color: #9c9698;
}

.grid-col2 {
	width: 790px;
	height: 100%;
	margin-left: 10px;
}

/* banner部分 */
.grid-col2-b div {
	float: left;
	margin-top: 10px;
}

.grid-col2-b div:last-child {
	float: right;
	margin-top: 10px;
}

/* 箭头部分 */
.grid-col2-t {
	position: relative;
}


.grid-col3 {
	width: 190px;
	height: 100%;
}

/* 右边模块 */
.login {
	height: 85px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	padding: 15px;
}

.login-t {
	width: 95px;
	height: 60px;
	line-height: 20px;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #666;
	padding-left: 60px;
	position: relative;
}

.login-t a {
	color: #666;
}

.login-t a:hover {
	color: #f10512;
}

.user-info {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/sprite_userinfo@1x.png) no-repeat -70px 0;

}

.login-b a {
	display: inline-block;
	width: 70px;
	height: 20px;
	line-height: 20px;
	border: 2px solid #f10215;
	margin-right: 3px;
	text-align: center;
	color: #f10215;
}

.login-b a:hover {
	background-color: #f10215;
	color: #fff;
}

.user-info img {
	width: 40px;
	border-radius: 50%;
	margin: 5px;
}

.news {
	height: 154px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	padding: 7px 13px 0;
	box-sizing: border-box;
}

.news-t {
	height: 19px;
	border-bottom: 1px solid #ccc;
	position: relative;
}

.news-t a {
	float: left;
	height: 17px;
	line-height: 17px;
}

.kuaibao {
	width: 68px;
}

.news-t .more {
	float: right;
}

.news-t div {
	height: 2px;
	width: 48px;
	position: absolute;
	bottom: -1px;
	left: 0;
}

.news-b {
	padding-top: 15px;
}

.news-b li {
	height: 23px;
	line-height: 23px;
}

.expand {
	height: 209px;
	background-color: #fff;
	overflow: hidden;
}

.expand ul {
	width: 195px;
}

.expand li {
	width: 47px;
	height: 69px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	float: left;
}

.expand li a {
	display: block;
	padding-top: 15px;
	text-align: center;
}

.expand li i {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	background: url(../images/lpk.png) no-repeat;
	width: 18px;
	height: 23px;
	background-position: -5px -88px;
}

.expand li:first-child i {
	width: 18px;
	height: 23px;
	background-position: -5px -88px;
}

/* 轮播 */

#rotation-div1 {
	width: 780px;
	height: 480px;
}
