.cate-block{
    background-color: black;
    color:white;
    margin-left: 20px;
    padding-left:10px;
    font-size: 12px;
    line-height: 20px;
    display:inline;
}
.line div{
    width: 80px;
    height: 40px;
}
.line{
    padding-top: 20px;
    font-size: 10px;
}
.first-cate{
    display:inline;
    margin-left: 20px;
}
.second-cate{
    display: inline;
    color:#666666;
    margin-left: 5px;
}