/* 中间分类开始 */

.grid {
    height: 480px;
    background-color: #ffffff;
}

.grid-col1 {
    width: 190px;
    height: 100%;
    background-color: #6e6568;
    color: #ffffff;
    font-size: 14px;
    /* 不是给字体而是修饰/的 */
    position: relative;
}

.grid-col1 a {
    color: #ffffff;
    font-size: 14px;
    /* 是给链接文字的 */
    margin: 0 3px;
}

.grid-col1 ul {
    padding: 10px 0;
}

.grid-col1 ul li {
    padding-left: 12px;
    /*鼠标经过时阴影长度*/
    height: 29px;
    line-height: 26px;
    /* margin-left: 12px; */
}

.grid-col1 ul li:hover {
    background-color: #9c9698;
}

.grid-col2 {
    width: 790px;
    height: 100%;
    background-color: #ffffff;
    margin-left: 10px;
}


/* banner部分 */

.grid-col2-b div {
    float: left;
    margin-top: 10px;
}

.grid-col2-b div:last-child {
    float: right;
    margin-top: 10px;
}


/* 轮播箭头部分 */

.grid-col2-t {
    position: relative;
}

.arrow-l,
.arrow-r {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 60px;
    background: rgba(0, 0, 0, 0.3);
    transform: translateY(-50%);
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: #ffffff;
    font-family: arial;
    font-style: normal;
}

.arrow-r {
    right: 0;
}

.arrow-l {
    left: 0;
}

.circle {
    width: 167px;
    height: 20px;
    background: rgba(255, 255, 255, .3);
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    border-radius: 10px;
    padding-left: 8px;
}

.circle li {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    float: left;
    margin: 4px;
    cursor: pointer;
    /* 鼠标经过li时候聚焦手型状 */
}

.circle .current {
    background-color: #f10215;
}

.grid-col3 {
    width: 190px;
    height: 100%;
    background-color: #ffffff;
}


/* 右边小部分 */

.login {
    height: 85px;
    border-bottom: 1px solid #cccccc;
    padding: 15px;
    background-color: #ffffff;
}

.login-t {
    width: 95px;
    height: 60px;
    line-height: 20px;
    font-weight: 12px;
    white-space: nowrap;
    /*强制一行内显示内容*/
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666666;
    padding-left: 60px;
    position: relative;
}

.login-t a {
    color: #666666;
}

.login-t a:hover {
    color: #f10215;
}

.user-info {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    /* border-radius: 50%; */
    /* overflow: hidden; */
    background: url(../images/userinfoBorder.png) no-repeat -70px 0;
}

.login-b a {
    display: inline-block;
    width: 70px;
    height: 20px;
    line-height: 20px;
    border: 2px solid #f10215;
    margin-right: 3px;
    text-align: center;
    color: #f10215;
}

.login-b a:hover {
    background-color: #f10215;
    color: #ffffff;
}

.user-info img {
    width: 40px;
    border-radius: 50%;
    margin: 5px;
}

.news {
    height: 154px;
    border-bottom: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 7px 13px 0;
    box-sizing: border-box;
}

.news-t {
    height: 19px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}

.news-t a {
    float: left;
    height: 17px;
    line-height: 17px;
}

.news-t div {
    height: 2px;
    width: 28px;
    background-color: #f10215;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.news-b {
    padding-top: 15px;
}

.news-b li {
    height: 23px;
    line-height: 23px;
}

.cuxiao {
    width: 38px;
    border-right: 1px solid #cccccc;
}

.gonggao {
    margin-left: 15px;
}

.news-t .more {
    float: right;
}

.expand {
    height: 209px;
    background-color: #ffffff;
    overflow: hidden;
}

.expand ul {
    width: 195px;
}

.expand li {
    width: 47px;
    height: 69px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    float: left;
}

.expand li a {
    display: block;
    padding-top: 15px;
    text-align: center;
}

.expand li i {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background: url(../images/smallLogo.png) no-repeat;
    width: 18px;
    height: 23px;
    background-position: -5px -88px;
}

.expand li:first-child i {
    width: 18px;
    height: 23px;
    background-position: -5px -88px;
}


/* 侧边广告 */

.ad {
    width: 250px;
    height: 480px;
    /* 	background-color: pink;
 */
    position: absolute;
    top: 0;
    left: -250px;
}

.ad-r {
    position: absolute;
    top: 0;
    left: 250px;
    z-index: 999;
    width: 0;
    height: 480px;
    background: url(../images/ad-r.jpg);
    /* z这个盒子做动画，所以给它添加过渡 */
    transition: all 0.8s;
}

.ad:hover .ad-r {
    /* 鼠标经过 ad 这个广告大盒子的时候， 里面的这个叫 ad-r的盒子的宽度由0变为 990 */
    width: 990px;
}


/* .ad { */


/* height: 650px; */


/* background: url(../images/ad.png) no-repeat top center; */


/* position: absolute; */


/* 行内块转换 */


/* top: 120px; */


/* left: 0px; */


/* width: 100%; */


/* 强制显示宽度 */


/* } */

.ad a {
    display: block;
    height: 100%;
    bottom: 0;
}