* {
	margin: 0;
	padding: 0;
}

/* 顶部广告 */
#ad_img:hover {
	cursor: pointer;
}

#ad_close:hover {
	cursor: pointer;
}

img:hover {
	cursor: pointer;
}

/* 顶部导航栏 */
#top_navigation {
	height: 30px;
	line-height: 30px;
	background-color: #e3e4e5;
	color: #999;
}

.fr {
	float: right;
	margin-right: 382px;
}

.fr>li {
	float: left;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-right: 2px;
	color: #fff;
}

.nav>li>a {
	display: inline;
	padding: 0px 10px;
	color: #666;
	text-decoration: none;
	font: 11px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
}

.red_a {
	color: #e1251b !important;
}

li.spacer {
	overflow: hidden;
	margin: 11px 5px 0;
	width: 1px;
	height: 10px;
	background-color: #ccc;
}

.nav>li>a:hover {
	text-decoration: none;
	background-color: #e3e4e5;
}

.dropdown-menu {
	font-size: 12px;
}

/* 搜索框区域 */
#header {
	width: 100%;
	height: 131px;
	background: #fff;
	border-bottom: 1px solid #ddd;
}

.search-m {
	/* margin: 0 auto; */
	position: relative;
	left: 460px;
	top: 26px;
	width: 490px;
	height: 36px;
	border: 2px solid #007BFF;
	background: #fff;
}

/* 搜索输入框 */
.layui-input,
.layui-textarea {
	display: inline;
	width: 427px;
}

.layui-btn-primary {
	width: 55px;
	height: 33px;
	background-color: #007bff;
	color: white;
	border: 0px;
	border-radius: 0px;
}

.layui-input,
.layui-select,
.layui-textarea {
	height: 30px;
	line-height: 1.3;
	line-height: 38px\9;
	border: 0px;
	font-size: 11px;
}

/* 购物车区域  */
#settleup {
	float: right;
	margin-top: -10px;
	margin-right: 287px;
	top: 20px;
	z-index: 21;
	width: 132px;
	height: 36px;
}

#shopcar-btn {
	height: 36px;
	border: 1px solid #e3e4e5;
	background-color: #fff;
	color: red;
	font-size: 11px;
}

#header>#produces-list {
	position: relative;
	top: 30px;
	font-size: 12px;
	padding-left: 460px;
}

#produces-list>span>a {
	font-size: 12px;
}

#navitems {
	position: relative;
	top: 53px;
	font-size: 15px;
	font-weight: 700;
}

#navitems-span {
	margin-left: 358px;
}

#navitems-span>a {
	color: #666 !important;
}

#navitems-span>a:hover {
	color: #e1251b !important;
	text-decoration: none;
}

#navitems-span>.red_a {
	color: #e1251b !important;
}

/* 轮播图区域 */
#middle {
	background-color: #F4F4F4;
	height: 2630px;
	border-bottom: 1px solid #dedede;
}

#middle>#left-ad {
	float: left;
	margin-top: 10px;
	margin-left: 60px;
}

/* 中间菜单栏 */
#menu-div {
	float: left;
	width: 160px;
	height: 470px;
	border: 1px solid #00BFFF;
	margin-top: 10px;
	margin-left: 1px;
	background-color: white;
}

#menu-div>ul {
	padding: 10px 0;
	color: #636363;
}

#menu-div>ul>li {
	height: 25px;
	line-height: 25px;
	padding-left: 18px;
	font-size: 14px;
}

#menu-div>ul>li:hover {
	background-color: #d9d9d9;
	cursor: pointer;


}


/* 中间轮播图 */
.rotation1 {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.rotation2 {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

#right-ad {
	width: 190px;
	height: 470px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

/* 频道广场 */
#channel {
	width: 1159px;
	height: 470px;
	display: inline-table;
	margin-left: 220px;
	margin-top: 28px;
}

.h3-title:before {
	content: url(../image/sprite.png);
	width: 25px;
	height: 20px;
	left: 0px;
	background-position: 0px 0px;
}

.h3-title {
	position: relative;
	height: 45px;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	line-height: 45px;
	color: rgb(51, 51, 51);
	padding: 0px 30px;
	margin: 0px auto 20px;
	overflow: hidden;
}

.h3-title:after {
	content: url(../image/sprite.png);
	width: 25px;
	height: 20px;
	right: 0px;
	background-position: -25px 0px;
}

/* 为你推荐 */
#feeds {
	width: 1159px;
	height: 1370px;
	margin-left: 220px;
	margin-top: 28px;
}

#daohang {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 400px;
}

.floorhd div img {
	margin-bottom: 16px;
}

/* 底部宣传栏 */
#service {
	margin: 0 auto;
	padding-left: 53px;
	width: 1159px;
	margin-left: 220px;
	margin-top: 28px;
}

/* 底部区域 */
#footer {
	background-color: #F4F4F4;
	height: 330px;
	border-bottom: 1px solid #dedede;

}

/* 底部链接 */
#mod-help {
	border-bottom: 1px solid #dedede;
	width: 990px;
	height: 160px;
	margin: 0 auto;
	padding-top: 21px;
	padding-left: 139px;
}

#mod-help>ul {
	width: 158px;
	float: left;
}

#mod-help ul li {
	padding-top: 3px;
	line-height: 22px;
	font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
	color: #666;
}

#mod-help ul li:hover {
	cursor: pointer;
	color: red;
}

div h5 {
	font: 15px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
	font-weight: bold;
	display: inline-block;
}

/* 版权信息 */
#mod-copyright .layui-breadcrumb a{
	font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
	color: #7b7b7d;
}
	
.cpoy-div {
	text-align:center;
	margin-top: 13px;
	margin-bottom: 10px;
}
.info-div {
	text-align:center;
	margin-bottom: 5px;
}